<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /stream/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /stream/index.php/$1 [L]
</IfModule>